build/
dist/
logs/
outputs/
data/
weights/
checkpoints/
*.pth
*.pt
*.ckpt
*.log
.env
*.egg-info/
**/__pycache__/
*.py[cod]

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

**/notebooks

# Ignore swap files
*.swp

# Ignore vscode directory
.vscode/
dinov3/eval/segmentation/models/utils/ops/MultiScaleDeformableAttention.cpython-311-x86_64-linux-gnu.so

# Ignore visual results
vis_results/
